@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background-color: #d0ebc7;
}





.containerslide {
    box-shadow: 3px 10px 20px 0.3px #2e2e2ef0;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 120px;

}

.swiper {
    width: 100%;

}

.swiper-slide img {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}


.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: rgb(4, 4, 4);
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
    color: #fff;
    background-color: black;
    opacity: 0.7;
    width: 50px;
    height: 60px;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}

#product {
    background: #d8f5da;
    box-shadow: 9px 7px 35px 2px #b1ebb0;
}

#product:hover {
    border: 2px solid #04ff2e;

}


.navbar {
    /* background:linear-gradient(to bottom right,rgb(144, 246, 144), rgb(79, 224, 79)); */
    background-color: #fff;
    box-shadow: 2px 3px 20px 0.3px black;
}

.navbar .collapse .navbar-nav .nav-item:hover {
    border-radius: 12px;
    background-color: #85ee3a;
    transition: 0.3s;
    margin: 3px;

}
.swiper-slide button a{
    text-decoration: none;
    color: #85ee3a;
}
/* .swiper-slide button a:hover{
    color: green;
} */

.swiper-slide button{
    width: 90px;
    height: 40px;
    position: absolute;
    top: 65%;
    font-weight: 600;
    border: 2px solid rgb(255, 255, 255);
    color: #04ff2e;
    
}
.swiper-slide button:hover{
    
    border: none;
    color: white;
}
#mainbutton{
    width: 90px;
    height: 40px;
    position: absolute;
    top: 70%;
}
@media screen and (max-width:929px) {
    .swiper-slide button{
       
        position: absolute;
        top: 70%;
    }
    #mainbutton{
       
        position: absolute;
        top: 75%;
    }
}
@media screen and (max-width:680px) {
    .swiper-slide button{
        
        position: absolute;
        top: 73%;
    }
    
}

@media  screen and (max-width:580px) {
    #mainbutton{
       
        position: absolute;
        top: 80%;
    }
}
@media  screen and (max-width:539px) {
    #mainbutton{
       
        position: absolute;
        top: 30%;
    }
}
@media screen and (max-width:509px) {
    .swiper-slide button{
       
        position: absolute;
        top: 78%;
    }
    
}
@media screen and (max-width:393px) {
    .swiper-slide button{
       
        position: absolute;
        top: 30%;
    }
    
}


/* .navbar-brand{
    width: 100px;
    height: 100px;
    padding: 50px;
}
.navbar-brand img{
    height: 100%;
    width: 100%;
} */
.nav-item {

    margin-left: 15px;
}

.image {
    background-color: transparent;
    height: 37px;
    width: 50px;
    transform: scale(2);
    padding-left: 15px;
    margin-right: 10px;
}



#one {
    transition: ease-in 0.3s;
    padding-right: 10px;
}

#one:hover {
    transform: scale(1.1);
}

#two {
    transition: ease-in 0.3s;
    padding-left: 10px;
}

#two:hover {
    transform: scale(1.1);
}





/* footer css */
footer {
    position: relative;
    top: 1300px;
    bottom: 0px;
    width: 100%;
    background-color: rgb(0, 174, 0);
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: rgb(0, 174, 0);
    ;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: yellow;
    top: -10px;
}

.left .content .list a:hover {
    list-style: none;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    transition: 1s;
}

.left .content .list a {
    list-style: none;
    text-decoration: none;

}

.center .content a {
    text-decoration: none;
}

.center .content .place a span:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    transition: 1s;
}

.center .content .email a span:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    transition: 1s;
}


.right .content .social {
    margin: 10px 0 0px 0;
}

.right .content .social a span {
    height: 40px;
    width: 40px;
    background: rgb(0, 174, 0);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.5s;
    color: white;
    margin: 6px;
    padding: 6px;
}

.right .content .social span {
    margin: 2px;
    padding: 2px;
}

.right .content .social a span:hover {

    height: 100px;
    width: 75px;
    border-radius: 5px;
    background-color: #85ee3a;
}

.right .content .phone span {
    color: white;
}

.right .content .phone span:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    transition: 1s;
}

.center .content .bi {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
}

.center .content .bi:hover {
    background-color: #85ee3a;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .place,
.center .content .email {
    margin: 5px 0;
}

.right .content .phone .bi {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
}

.right .content .phone .bi:hover {
    background-color: #85ee3a;
}

.right .content .phone {
    width: 100%;
    font-size: 1.0625rem;
    background: rgb(0, 174, 0);
    padding-left: 10px;
    /* border: 1px solid green; */
    height: 35px;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: green;
}

.bottom center span {
    color: white
}

.bottom center a {
    color: yellow;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width:900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}

/* footer css ends */